In [1]:
var1 = 10 
print(type(var1))

<class 'int'>

In [2]:
var1 = 24.5
print(type(var1))

<class 'float'>

In [3]:
var1 = "hello"
print(type(var1))

<class 'str'>

In [4]:
var1 = (10, "hi" , 48, "no")
print(type(var1))

<class 'tuple'>

In [5]:
var1 = [10, "hi" , 48, "no"]
print(type(var1))

<class 'list'>

In [7]:
var1= { 'os' : 'windows' , 'db' : ' mysql' , 'lang' : 'python'}
print(type(var1))

<class 'dict'>

In [8]:
var1 = {10,78 , 48, 32, 56, 21 } #set is unordered and non duplicate , doesnot have index
print(type(var1))

<class 'set'>

In [10]:
var1 = True
print(type(var1))

<class 'bool'>